<!-- views/my_guides.ejs -->
<!doctype html>
<html>
<head>
    <title>Battleright</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>All Guides</h1>
        <% if (user != 0) { %>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/profile" class="btn btn-default btn-sm">Profile</a>
        <% } else {%>
        <a href="/login" class="btn btn-default btn-sm">Login</a>
        <% } %>
        <a href="/create" class="btn btn-default btn-sm">Create Guide</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6 col-sm-offset-3">
            <div class="well">
                <% for (var i = 0; i < guides.length; i++) { %>
                    <p><a href="/guides/<%= guides[i]._id %>"><%= guides[i].title %></a></p>
                <% } %>
            </div>
        </div>

    </div>

</div>
</body>
</html>