<!-- views/preview.ejs -->
<!doctype html>
<html>
<head>
    <title>Battleright</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/xbbcode.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Edit Guide</h1>
        <a href="/profile" class="btn btn-default btn-sm">Profile</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6 col-sm-offset-3">
            <button type="submit" class="btn btn-primary btn-lg" onClick="history.go(-1);return true;">Edit</button>
            <hr>
            <div class="well">
                <h2><%= guide_title %></h2>
                <% for (var i = 0; i < title.length; i++) {%>
                    <hr>
                    <h3><%= title[i] %></h3>
                    <p><%- body[i] %></p>
                <% } %>
            </div>
        </div>

    </div>

</div>
</body>
</html>