body {
	background: url("../images/background.jpg");
	background-size: 100% auto;
}

.well {
	background-color: rgba(20,20,20,0.9);
	border: none;
}

.well h1, h3, p {
	color: white;
}

.champion-tile {
	display: inline-block;
}