.notes {
	background: #EEE;
	width: 80%;
	margin: 2em auto;
	padding: 1.5em;
}

.title-cn {
	display: flex;
}

.vote {
	align-self: center;
}

.score {
	margin: 0 1em;
}

#portrait {
	height: 64px;
	display: inline-block;
	align-self: center;
}

.br-type {
	color: #888;
}

.byline {
	display: inline-block;
	align-self: center;
	margin: 0 1em;
}

.byline h4, h2 {
	margin: 0;
}

.ab-header-cn {
	display: flex;
	margin-bottom: 1em;
}

.ab-img {
	width: 64px;
	height: 64px;
	display: inline-block;
	align-self:center;
}

.ab-header {
	display: inline-block;
	align-self:center;
	margin-left: 1em;
}

.ab-header h6 {
	margin: 0.2em 0;
}

.ability textarea {
	width: 100%;
}